<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <% if (!message) { %>
        <p> welcome !!!</p>
        <a href = 'logout'>Logout!!</a>
        <a href = 'problem_verification'>Problem Verifcation</a>
        <a href = 'contest_verification'>Contest Verifcation</a>

        <%}%>
  </body>
</html>
