<%-include('headheader');-%>
    <link rel="stylesheet" href="/css/contest.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>

    <body onload = 'button_change()'>
        <!-- header container -->
        <div class="container-fluid headr">
            <nav class="navbar navbar-expand-lg navbar-dark transp bg-dark">
                <a class="navbar-brand" href="index.html">
                    <button class="btn-secondary fo">Codespark</button>
                </a>
                <!-- ending -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navba" aria-controls="navba" aria-expanded="false">
                    
                    <span class="navbar-toggler-icon"></span>
                    <svg width="60" height="60" class="cir">
                            <circle cx="24" cy="24" r="24" fill="white"></circle>
                            
                    </svg>
                        
                      </button>
                <div class="collapse navbar-collapse" id="navba">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link chall" href="#">
                                <h5 class="tags">Challenges </h5>
                                <svg height="2" width="112">
                                        <line x1="0" y1="0" x2="112" y2="0" class="line">
                                            </svg> </a>


                        </li>
                        <li class="nav-item">
                            <a class="nav-link pract" href="#">
                                <h5 class="tags">
                                    Practice</h5><svg height="2" width="83">
                                    <line x1="0" y1="0" x2="83" y2="0" class="line">
                                </svg></a>

                        </li>



                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="dropdown profile">
                            <a role="button" class="btn btn-white btn-sm dropdown-toggle" id="drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="drop">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Submissions</a></li>
                                <li><a class="dropdown-item" href="#">Followers</a></li>
                            </ul>
                        </li>
                    </ul>


                </div>
            </nav>

            <div class="contn">
                <h3 class="text-center py-4">
                    <p id = "contest_name"></p>
                </h3>

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-sm-1">
                        <p>Start Date:</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="pad" id = "start_date"></span>
                    </div>
                    <div class="col-sm-1">
                        <p>Start Time:</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="pad" id = "start_time"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-sm-1">
                        <p>End Date:</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="pad" id = "end_date"></span>
                    </div>
                    <div class="col-sm-1">
                        <p>End Time:</p>
                    </div>
                    <div class="col-sm-2">
                        <span class="pad" id = "end_time"></span>
                    </div>
                </div>

                <div class="button text-center py-5">
                    <button onclick="window.location.href=window.location.href+'/register'" class="btn btn-success btn-lg" id ="button_status" style="display:none;"></button>
                </div>

            </div>
        </div>
        <!-- about section -->

        <div class="row">
            <div class="col-lg-6">
                <div class="about">
                    <span class="head">About the contest</span>
                    <ul>
                        <li>
                            <div class="info">
                                <p id  = "description"></p>
                            </div>
                        </li>
                        <li>
                            <div class="organiser" >
                                <span class="font-weight-bold">Organiser:</span><span class="standpad" id = "org_name">
                                </span>
                            </div>

                        </li>
                        <li>
                            <div class="prizes">
                                <span class="font-weight-bold">Prizes:</span><span class="standpad" id = "prizes"></span>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- rules section -->
        <div class="d-flex flex-row-reverse rule-section">

            <div class="col-lg-6">

                <div class="rule">
                    <span class="head">Rules</span>
                    <ul>
                        <li>
                            <div class="info">
                                <p></p>
                            </div>
                        </li>
                        <li>
                            <div class="info">
                                <p id = "rules"></p>
                            </div>

                        </li>
                        <li>
                            <div class="info">
                                <p id = "scoring"></p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


        </div>
        </div>

        <script src="/js/contest.js"></script>

        <script>
        function button_change() {
            // console.log("called");
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.responseType = "json";
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var reference = this.response;
                // console.log(reference.register + "status");
                if (this.response.register === "registered"){
                    document.getElementById('contest_name').innerHTML = "You are registered for the contest " + reference.rows[0]['contest_name'] + " and will be notified 1 hr before the contest.";
                } 
                else if (this.response.register === "Not Registered"){
                    document.getElementById('contest_name').innerHTML = "Register now for the contest " + reference.rows[0]['contest_name']; 
                    document.getElementById('button_status').innerHTML = "Register";
                    document.getElementById('button_status').style.display = "block";
                }
                else if (this.response.register === "Solve Problems"){
                    document.getElementById('contest_name').innerHTML = "Contest " + reference.rows[0]['contest_name'] + " has started<br>Click below to solve problems "; 
                    document.getElementById('button_status').innerHTML = "Solve Problems";
                    document.getElementById('button_status').style.display = "block";
                    document.getElementById('button_status').setAttribute("onclick","window.location.href=window.location.href+'/solve_problems'");
                }
                else if (this.response.register === "Not Allowed"){
                    document.getElementById('contest_name').innerHTML = "You are not allowed to participate in this contest " + reference.rows[0]['contest_name'] + " because you are contest host "; 
                }
                else{
                    document.getElementById('contest_name').innerHTML = "Contest " + reference.rows[0]['contest_name'] + " has ended<br>Click below to practice problems "; 
                    document.getElementById('button_status').innerHTML = "Practice Problems";
                    document.getElementById('button_status').style.display = "block";
                    document.getElementById('button_status').setAttribute("onclick","window.location.href=window.location.href+'/practice_problems'");

                }
                var startDate = new Date(reference.rows[0]['start_date']).toUTCString();
                var endDate = new Date(reference.rows[0]['end_date']).toUTCString();
                document.getElementById('start_date').innerHTML = startDate.slice(0,16);
                document.getElementById('start_time').innerHTML = reference.rows[0]['start_time'];
                document.getElementById('end_date').innerHTML = endDate.slice(0,16);
                document.getElementById('end_time').innerHTML = reference.rows[0]['end_time'];
                document.getElementById('description').innerHTML = reference.rows[0]['description'];
                document.getElementById('org_name').innerHTML = reference.rows[0]['org_name'];
                document.getElementById('prizes').innerHTML = reference.rows[0]['prizes'];
                document.getElementById('rules').innerHTML = reference.rows[0]['rules'];
                document.getElementById('scoring').innerHTML = reference.rows[0]['scoring'];
            }
        }
            xhttp.open("POST", window.location.href, true);
            xhttp.send();
        }
        setInterval("button_change()",1000);
        

        </script>
        <%-include('footer');-%>