<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body onload="set_date()">
    <form action='/contest/create_details' method='post'>
        <label>Contest Name</label><input type="text" name="contest_name" placeholder="contest name">
        <% if(message === 0){%>
          <p><script>alert('low number of points');
              window.location.assign('/home');
          </script></p>
          <%}else if (message === 1){ %>
              <p><script>alert('Contest name already exists');
                  window.location.assign('/home');
              </script></p>
          <%}else if (message === 2){ %>
              <p><script>alert('Your contest is added to the verification list.You will be notified when your contest gets verified');
                  window.location.assign('/home');
              </script></p>
          <%}%>
        <label>Start date</label><input type="date" name="start_date" id="start_date">
        <label>Start time</label><input type="time" name="start_time" step="900">
        <label>end date</label><input type="date" name="end_date"  id="end_date">
        <label>End time</label><input type="time" name="end_time" step="900">
        <label>Organisation Type</label><select name="org_type">
          <option value="school">School</option>
          <option value="company">Company</option>
          <option value="non-profit">Non-Profit</option>
          <option value="other">Other</option>
        </select>
      <label>Organisation Name</label><input type="text" name="org_name" max="255" min="3">
<input type="submit" name="submit" value="Submit">


    </form>
    <script type="text/javascript">
      function set_date()
      {
        var currdate = new Date();
        console.log(currdate.toISOString());
        currdate = currdate.toISOString().slice(0,10);
        currdate=currdate.split("-").reverse().join("-");
        console.log(currdate);
        document.getElementById("start_date").setAttribute("min",currdate);
        document.getElementById("end_date").setAttribute("min",currdate);

        currdate = new Date();
        currdate.setMonth(currdate.getMonth()+1);
        currdate = currdate.toISOString().slice(0,10);
        currdate=currdate.split("-").reverse().join("-");

        console.log(currdate);
        document.getElementById("start_date").setAttribute("max",currdate);
        document.getElementById("end_date").setAttribute("max",currdate);
      }

    </script>
  </body>

</html>
