<!-- header using ejs -->
<%-include('headheader');-%>
    <!-- css link -->
    <link rel="stylesheet" href="/css/problem_verification.css">
    <%-include('footheaderadmin');-%>

            <div class="cont border padit">
                <h4 class="font-weight-bold text-center py-4">Contest Problems</h4>

                <table class="table table-hover table-bordered text-center">
                    <thead id = "thead">
                        <tr>
                            <th scope="col">Problem Name</th>
                            <th scope="col">Difficulty</th>
                            <th scope="col">Subdomain</th>
                            <th scope="col">Date</th>

                        </tr>
                    </thead>

                    <tbody id="problem-list"> </tbody>
                </table>
                <p id = "no_data"></p>


                <!-- pagination details here -->
            <nav aria-label="Page navigation example">
                  
                <ul class="pagination justify-content-center" id = "arrows">
                           <ul class="pagination">
                                <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                        </a>
                                      </li>
                           </ul>
                        <ul class="pagination" id="pagination">
                            </ul>
                        <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                        </li>
                </ul>
        </nav>

            </div>
            <%-include('headfooter');-%>
                <script src="/js/jcontest_problem_verification.js"></script>
            <%-include('footfooter');-%>