<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <% if (!message) { %>
        <p> welcome here you can manage your contest!!!</p>
        <a href = 'logout'>Logout!!</a>
        <a href = 'add_challenge'>Add Challenge</a>
        <%}%>   
  </body>
</html>


