<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body onload="getcontests()">
    <h1>Contest</h1>

      <table>
        <thead>
          <tr>
            <td>Contest Id</td>
            <td>Contest Name</td>

          </tr>
        </thead>

        <tbody id="contest-list">  </tbody>
      </table>

      <p id = "pagination"></p>

<script type="text/javascript">
    function getcontests(){
      var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.responseType = "json";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    document.getElementById("contest-list").innerHTML = this.response.senddata;
    document.getElementById("pagination").innerHTML = this.response.page_info;
    // console.log(this.response); 
    }
  };

  xhttp.open("POST", window.location.href, true);
  xhttp.send();}

</script>
  </body>
</html>
