<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body onload="getproblems()">
    <h1>problems</h1>

      <table>
        <thead>
          <tr>
            <td>Problem Name</td>
            <td>Difficulty</td>
            <td>Subdomain</td>
            <td>Date</td>

          </tr>
        </thead>

        <tbody id="problem-list">  </tbody>
      </table>

      <p id = "pagination"></p>
      

<script type="text/javascript">
    function getproblems(){
      var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.responseType = "json";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    document.getElementById("problem-list").innerHTML = this.response.senddata;
    document.getElementById("pagination").innerHTML = this.response.page_info;
    // console.log(this.responseText);
    }
  };
  
  xhttp.open("POST", window.location.href, true);
  xhttp.send();}

</script>
</body>
</html>
