<!-- css -->
<link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <!-- header container -->
    <div class="container-fluid headr">
        <nav class="navbar navbar-expand-lg navbar-dark spacing bg-dark">
            <!-- navbar brand -->
            <a class="navbar-brand" href="homepge">
                Codespark
            </a>
            <!-- ending -->
           
        </nav>
    </div>