<!-- css -->
<link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <!-- header container -->
    <div class="container-fluid headr">
        <nav class="navbar navbar-expand-lg navbar-dark spacing bg-dark">
            <!-- navbar brand -->
            <a class="navbar-brand" href="homepge">
                Codespark
            </a>
            <!-- ending -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navba" aria-controls="navba" aria-expanded="false">
                    
                    <span class="navbar-toggler-icon"></span>            
                      </button>
            <div class="collapse navbar-collapse" id="navba">
                <!-- profile section -->
                <ul class="nav navbar-nav ml-auto pad-right">
                    <li class="dropdown profile">
                        <a role="button" class="btn btn-secondary btn-sm dropdown-toggle" id="drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right bg-secondary" aria-labelledby="drop">
                            <li><a class="dropdown-item" href="user_profile">Profile</a></li>
                            <!-- <li><a class="dropdown-item" href="submission">Submissions</a></li>
                            <li><a class="dropdown-item" href="follower">Followers</a></li> -->
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>


            </div>
        </nav>
    </div>