<!-- footer section -->
<link rel="stylesheet" href="/css/footer.css">
<div class="footer-section text-white">
    <footer class="py-2 bg-dark">
        <!-- contact us section -->
        <h4 class="text-center">Contact us</h4>
        <div class="contact-info">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row pad">
                        <span>Harshit Garg</span>
                    </div>
                    <div class="row pad">
                        <span>
                        +919627770867
                    </span>
                    </div>
                    <div class="row pad">
                        <span>
                        harshitgarg30920@gmail.com
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row pad">
                        <span>Sujeet Kushwaha</span>
                    </div>
                    <div class="row pad">
                        <span>
                                +917989955971
                            </span>
                    </div>
                    <div class="row pad">
                        <span>
                                ks99737@gmail.com
                            </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row pad">
                        <span>Shivam Gupta</span>
                    </div>
                    <div class="row pad">
                        <span>
                        +918960943731
                    </span>
                    </div>
                    <div class="row pad">
                        <span>
                        sgrocket6@gmail.com
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- copyright and follow section -->
        <div class="text-center">
            <div class="follow-section">
                <span>Follow us on</span>
                <a href="https://www.facebook.com/sujeet.kushwaha.1000"><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sujeet-kushwaha-124b80175/">
                    <i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <p class="text-center">copyright &copy; 2019 @ codespark</p>
    </footer>
</div>

</body>