<!-- header using ejs -->
<%-include('headheader');-%>
    <link rel="stylesheet" href="/css/practice_problems.css">
    <%-include('footheader');-%>
  <body onload="getproblems()">  
    <!-- link for accessing the leaderboard of a contest -->
    <div class="d-flex flex-row-reverse py-5">
        <a class="btn btn-primary mr-4" href = "window.location.redirect = window.location.href+/../leaderboard">Go to Leaderboard</a>
        <a class="btn btn-primary mr-4" href = "window.location.redirect = window.location.href+/../submission">Go to Submission</a>
    </div>
    
   <div class="practice_table">

       <h4 class="text-center py-3">Solve Problems</h4>
      <table class="table table-bordered text-center table-hover">
          <thead>
            <tr>
              <!-- details to be displayed -->
  
              <th scope="col">Problem Name</td>
              <th scope="col">Difficulty</td>
              <th scope="col">Points</td>
              <th scope="col">Subdomain</td>
            
            </tr>
          </thead>
  
          <!-- here problems will be displayed -->
          <tbody id="problem-list">  </tbody>
        </table>
   </div>
      

  </body>

<!-- script starts here -->
<script type="text/javascript">

  function getproblems(){
    var xhttp;
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      // readystate denotes that the request is completed and the data is received and request is ok for status 200
    if (this.readyState == 4 && this.status == 200) {
        //displaying the response coming of the request
        document.getElementById("problem-list").innerHTML = this.responseText;
    }
  };

//sending the post ajax request to the same page  
xhttp.open("POST", window.location.href, true);
xhttp.send();
}

</script>
 
  
</html>
