<div class="timer">
        <label>days</label><div id="days"></div>
        <label>Hours</label><div id="hours"></div>
        <label>Minutes</label><div id="minutes"></div>
        <label>Seconds</label><div id="seconds"></div>
</div>