<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <a href = 'logout'>Logout!!</a>
        <!-- link for hosting a new contest -->
        <a href = '/compete/create_contest'>Create contest</a>  


        <!-- info of the different contests at different times present past and future-->
        <h3><strong>present contests</strong></h3>
        <table>
            <thead>
            <tr>
                <td>contest name</td>
                <td>organization name</td>
                <td>start date</td>
                <td>start time</td>
                <td>end date</td>
                <td>end time</td>
            </tr>
        </thead>
        <tbody>
            <!-- ejs present contest data is coming here -->
            <%if(message1){%>
            <%-message1%>
                <%}%>
            </tbody>
        </table>
        <h3><strong>future contests</strong></h3>
        <table>
            <thead>
            <tr>
                <td>contest name</td>
                <td>organization name</td>
                <td>start date</td>
                <td>start time</td>
                <td>end date</td>
                <td>end time</td>
            </tr>
        </thead>
        <tbody>
            <!-- ejs future contest data is coming here -->
            <%if(message2){%>
                <%-message2%>
                <%}%>
            </tbody>
        </table>

        <h3><strong>past contests</strong></h3>
        <table>
            <thead>
            <tr>
                <!-- details to be displayed -->
                <td>contest name</td>
                <td>organization name</td>
                <td>start date</td>
                <td>start time</td>
                <td>end date</td>
                <td>end time</td>
            </tr>
        </thead>
        <tbody>
            <!-- ejs past contest data is coming here -->
            <%if(message3){%>
            <%-message3%>
                <%}%>
        </tbody>
        </table>
    </body>
</html>
