/* css for ids */

#contest_problem {
    margin: 7% 15%;
}

#search_existing {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px;
    padding: 20px;
}

#existing_challenge {
    display: none;
    padding: 2% 15%;
}


/*problem items section */

.problem_item {
    width: 300px;
    height: 50px;
    border-bottom: solid;
}

.problem_item:active {
    background-color: grey;
}