.container {
    padding: 7% 15%;
}


/* card section */

.card {
    font-size: 1.2rem;
    font-family: sans-serif;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 10% 10%;
}